<h1>Vagrant</h1>
<p>The <a href="http://github.com/YoavGivati/highfin">HighFin</a> GitHub repository has a Vagrantfile configured to setup and run multiple VMs locally.</p>
<p>Assuming you have <a href="https://www.vagrantup.com/">Vagrant</a> and <a href="https://www.virtualbox.org/">Virtualbox</a> installed on your system, just clone <a href="http://github.com/YoavGivati/highfin">HighFin</a>, cd into the folder and run the following commands.</p>
<p><code>vagrant up guppy</code> - will create a new VM and configure it to run guppy</p>
<p><code>vagrant ssh guppy</code> - will ssh into your guppy VM</p>
<p><code>guppy run guppy</code> - will actually install and run guppy, re-installing on file change.</p>