<ul class="menu">			
	<li name="hello"><a href="/#!/salmon/using/hello">Hello World</a></li>
	<li name="dependencies"><a href="/#!/salmon/using/dependencies">Dependencies</a></li>
	<li name="folders"><a href="/#!/salmon/using/folders">Files &amp; Folders Overview</a></li>	
	<li name="templates"><a href="/#!/salmon/using/templates">Templates</a></li>
	<li name="forms"><a href="/#!/salmon/using/forms">Forms</a></li>
	<li name="data"><a href="/#!/salmon/using/data">Data</a></li>
	<li name="plugins"><a href="/#!/salmon/using/plugins">Plugins</a></li>
</ul>