<div id="topbar"> 
		<a href="/#!"><img id="toplogo" src="/assets/imgs/topbar-logo.png" width="118" height="46" /></a>
		<ul class="menu horizontal left_menu">			
			<li name="salmon"><a href="/#!/salmon">Salmon</a></li>
			<li name="guppy"><a href="/#!/guppy">Guppy</a></li>
			<li name="fishtank"><a href="/#!/fishtank">Fishtank</a></li>
			<li name="aquatic"><a href="/#!/aquatic">Aquatic</a></li>
			<li >&nbsp;</li>			
		</ul>
		<ul class="menu horizontal right_menu">			
			<li name="blog"><a href="/#!/blog">Blog</a></li>
			<li><a class="external" href="http://chalkhq.com">ChalkHQ</a></li>
			<li><a class="external" href="http://github.com/YoavGivati/">Github</a></li>
		</ul>
</div>

<div id="doc_header">	
	<img class="bg-fish" src="/assets/imgs/bg-fish.png" width="847" height="302" />
		
	<p class="description stroke">{{ fin.meta.description }}</p>
	<p class="description">{{ fin.meta.description }}</p>
	
	<img class="medium-logo" src="/assets/imgs/logo-medium.png" width="369" height="124"  />

	<p class="title stroke">{{ fin.meta.title }}</p>
	<p class="title">{{ fin.meta.title }}</p>

</div>

<div id="submenu">
	
</div>

<div id="contentContainer">
	
</div>
<div id="doc_footer">
	<p>Built with <a href="/#!/salmon">salmon.js</a>, hosted on <a href="/#!/fishtank">fishtank</p>
</div>

