<h1>Introduction</h1>
<p>Aquatic is a multi-server continous deploy PaaS hosting infrastructure.</p>
<p>It includes: 
<ul>
	<li><code>Octopus</code> - Git server and brains of the infrastructure</li>
	<li><code>Squid</code> - Intelligent reverse proxy</li>
	<li><code>Sharks</code> - Docker container deploy boxes</li>
	<li><code>Jellyfish</code> - Mini reverse proxy that lives inside your container and allows for complex routing between instances</li>	
</ul>

</p>

<p>With Aquatic you can easily deploy multiple apps and instances of just about anything you like and wire it all up together using the same -.json file you use to specify your dev environment.</p>